{% extends 'layout/_layout.html' %}
{% block title %}
    AutoCMDB - 用户登陆
{% endblock %}

{% block content %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="#">首页</a> </li>
        <li class="active">用户管理</li>
    </ol>

    <div style="padding: 5px 8px;">
        <div class="list-block">
            <div class="clearfix search-area">
                <div class="col-md-offset-10 do-submit">
                    <a id="search_condition_submit" class="btn btn-primary no-radius">
                        <i class="fa fa-search"></i>搜索
                    </a>
                </div>
                <div id="search_conditions" class="col-md-offset-2 col-md-8">
                    <div class="condition">
                        <a class="btn btn-default no-radius">
                            <i class="fa fa-plus-square"></i>
                        </a>
                    </div>
                    <div class="inputs">
                        <div class="input-group">
                            <div id="search_condition" init="'false" class="input-group-btn">
                                <label type="button" class="btn btn-default no-radius" style="width: 100px"></label>
                                <button type="button" class="btn btn-default dropdown-toggle no-border-r"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <ul class="change-search-condition dropdown-menu">

                                    </ul>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}